<!DOCTYPE html>
<html lang="en">
<head>
    <title>合页导入</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/timg.ico"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../css/jquery-ui.css">
    <link rel="stylesheet" href="../../css/slick.css">
    <link rel="stylesheet" href="../../css/chosen.min.css">
    <link rel="stylesheet" href="../../css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="../../css/magnific-popup.min.css">
    <link rel="stylesheet" href="../../css/lightbox.min.css">
    <link rel="stylesheet" href="../../js/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="../../css/jquery.scrollbar.min.css">
    <link rel="stylesheet" href="../../css/mobile-menu.css">
    <link rel="stylesheet" href="../../fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body class="inblog-page">
<div class="main-content main-content-checkout">
    <div class="container">
        <h3 class="custom_blog_title">
            合叶导入
        </h3>
        <div class="checkout-wrapp">
            <div class="shipping-address-form-wrapp">
                <div class="shipping-address-form  checkout-form">
                    <div class="row-col-1 row-col">
                        <div class="shipping-address">
                            <p class="form-row form-row-first">
                                <label class="text">文件</label>
                                <input type="file" name="file" id="file">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<footer class="footer style7">
    <div class="container">
        <div class="container-wapper">
            <div class="row">
                <p align="center">
                    © 2020 北京华锦齐得利商贸有限责任公司  ｜
                    <a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备20029352号</a>
                </p>
                <p align="center">
                    邮箱：anguodong000@163.com | 客服QQ：1932604926 592912807
                </p>
            </div>
        </div>
    </div>
</footer>-->
<script src="../../public/jquery-1.11.3.js"></script>
<script src="../../public/bootstrap.min.js" type="text/javascript"></script>
<script src="../../js/plugins/lhgdialog/lhgdialog.js"></script>
</body>
</html>