<!DOCTYPE html>
<html lang="en">
<head>
    <title>配齐网</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/timg.ico"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/chosen.min.css">
    <link rel="stylesheet" href="../css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="../css/magnific-popup.min.css">
    <link rel="stylesheet" href="../css/lightbox.min.css">
    <link rel="stylesheet" href="../js/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="../css/jquery.scrollbar.min.css">
    <link rel="stylesheet" href="../css/mobile-menu.css">
    <link rel="stylesheet" href="../fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="inblog-page">
<header class="header style7">
    <div class="container">
        <div class="main-header">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
                    <!--<div class="logo">
                        <a href="index.html">
                            <img src="../images/logo.png" alt="img">
                        </a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main-content main-content-404 right-sidebar">
    <div class="container">
        <div class="row">
            <div class="content-area content-404 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="site-main">
                    <section class="error-404 not-found">
                        <div class="text-404">
                            <h1 style="text-align: center" class="page-title">
                                修改密码成功！
                            </h1>
                            <p style="text-align: center" class="page-content">
                                请<a href="/login-view"><span style="color:red">重新登录</span></a><br/>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<footer class="footer style7">
    <div class="container">
        <div class="container-wapper">
            <div class="row">
                <p align="center">
                    © 2020 北京华锦齐得利商贸有限责任公司  ｜
                    <a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备20029352号</a>
                </p>
                <p align="center">
                    邮箱：anguodong000@163.com | 客服QQ：1932604926 592912807
                </p>
            </div>
        </div>
    </div>
</footer>-->
<a href="#" class="backtotop">
    <i class="fa fa-angle-double-up"></i>
</a>
<script src="../js/jquery-1.12.4.min.js"></script>
<script src="../js/jquery.plugin-countdown.min.js"></script>
<script src="../js/jquery-countdown.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/magnific-popup.min.js"></script>
<script src="../js/isotope.min.js"></script>
<script src="../js/jquery.scrollbar.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/mobile-menu.js"></script>
<script src="../js/chosen.min.js"></script>
<script src="../js/slick.js"></script>
<script src="../js/jquery.elevateZoom.min.js"></script>
<script src="../js/jquery.actual.min.js"></script>
<script src="../js/fancybox/source/jquery.fancybox.js"></script>
<script src="../js/lightbox.min.js"></script>
<script src="../js/owl.thumbs.min.js"></script>
<script src="../js/jquery.scrollbar.min.js"></script>
<script src="../js/frontend-plugin.js"></script>
</body>
</html>