<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<head>
	<title>汽车配件查询网</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="../images/timg.ico"/>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/owl.carousel.min.css">
	<link rel="stylesheet" href="../css/animate.min.css">
	<link rel="stylesheet" href="../css/jquery-ui.css">
	<link rel="stylesheet" href="../css/slick.css">
	<link rel="stylesheet" href="../css/chosen.min.css">
	<link rel="stylesheet" href="../css/pe-icon-7-stroke.css">
	<link rel="stylesheet" href="../css/magnific-popup.min.css">
	<link rel="stylesheet" href="../css/lightbox.min.css">
	<link rel="stylesheet" href="../js/fancybox/source/jquery.fancybox.css">
	<link rel="stylesheet" href="../css/jquery.scrollbar.min.css">
	<link rel="stylesheet" href="../css/mobile-menu.css">
	<link rel="stylesheet" href="../fonts/flaticon/flaticon.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="productsgrid-page">
	<header class="header style7">
	<div class="top-bar">
		<div class="container">
			<div class="top-bar-left">
				<div class="header-message">
					欢迎！
				</div>
			</div>
			<div class="top-bar-right">
				<ul class="header-user-links">
					<li>
						<div sec:authorize="!isAuthenticated()">
							您好,<a href="/login-view"><span style="color:red">请登录</span></a>
							<a href="/logout" title="退出">退出</a>
						</div>
						<!--您好,<a href="#"><span style="color:red" sec:authentication="name"></span></a>-->
						<div sec:authorize="isAuthenticated()">
							您好,<a href="#"><span style="color:red" sec:authentication="name"></span></a>
							<a href="/logout" title="退出">退出</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="main-header">
			<div class="row">
				<div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
					<div class="logo">
						<a href="index.html">
							<img  src="../images/logo.jpg" alt="img" width="400" height="100">
						</a>
					</div>
				</div>
				<!--<div class="col-lg-7 col-sm-8 col-md-6 col-xs-5 col-ts-12">
					<div class="block-search-block">
						&lt;!&ndash;<form class="form-search form-search-width-category">
							<div class="form-content">
								<div class="category">
									<select title="cate" data-placeholder="All Categories" class="chosen-select"
											tabindex="1">
										<option value="United States">Accessories</option>
										<option value="United Kingdom">Clothing</option>
										<option value="Afghanistan">Beard Oil</option>
										<option value="Aland Islands">Spray Bottle</option>
										<option value="Albania">New Arrivals</option>
										<option value="Algeria">Storage</option>
									</select>
								</div>
								<div class="inner">
									<input id="queryString1" type="text" class="input" name="s" value="" placeholder="请输入商品编号，商品名称，车型等关键字">
								</div>
								<button id="searchButton1" class="btn-search" type="button">
									<span class="icon-search"></span>
								</button>
							</div>
						</form>&ndash;&gt;
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<div class="header-nav-container">
		<div class="container">
			<div class="header-nav-wapper main-menu-wapper">
				<div class="header-nav">
					<div class="container-wapper" id="menu">
						<ul class="emeriss-clone-mobile-menu emeriss-nav main-menu" id="menu-main-menu">
							<li class="menu-item">
								<a href="/index" class="emeriss-menu-item-title" title="Home">首页</a>
							</li>
							<li class="menu-item">
								<a href="/hinges" class="emeriss-menu-item-title" title="Home">合页</a>
							</li>
							<li class="menu-item">
								<a href="#" class="emeriss-menu-item-title" title="About">关于我们</a>
							</li>
							<li class="menu-item" id="user_authority_menu">
								<!--<a href="#" class="emeriss-menu-item-title" title="About">用户审核</a>-->
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
	<div class="main-content main-content-product no-sidebar">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-trail breadcrumbs">
						<ul class="trail-items breadcrumb">
							<li class="trail-item trail-begin">
								<a href="index.html">首页</a>
							</li>
							<li class="trail-item trail-end active">
								配件查询
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="content-area shop-grid-content full-width col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="">
						<div id="menu-top" class="shop-top-control" style="margin:0px 0px 10px 0px;text-align:center;">
							<input id="queryString" type="text" style="background-color: white;width: 350px;" placeholder="请输入商品编号，商品名称，车型等关键字"/>
							<button id="searchButton" type="button" class="button submit-newsletter">查询</button>&nbsp;&nbsp;
							<!--<button id="updatePartsButton" onclick="updateParts()" type="submit" class="button submit-newsletter">价格更新</button>&nbsp;&nbsp;
							<span style="width: 100px;text-align:left;display:inline-block;" id="SpanUpdating"></span>-->
							<!--<button id="deletePartsButton" type="button" class="button submit-newsletter">删除配件</button>&nbsp;&nbsp;-->
						</div>
						<table width="100%">
							<tr>
								<td style="width:20%;height:10px;text-align:center;vertical-align:middle;color:cornflowerblue;font-weight:bold;">OEM/厂家编号</td>
								<td style="width:35%;height:10px;text-align:center;vertical-align:middle;color:cornflowerblue;font-weight:bold;">商品名称</td>
								<td style="width:15%;height:10px;text-align:center;vertical-align:middle;color:cornflowerblue;font-weight:bold;">车型</td>
								<td style="width:15%;height:10px;text-align:center;vertical-align:middle;color:cornflowerblue;font-weight:bold;">参考价格(单位：元)</td>
								<td style="width:15%;height:10px;text-align:center;vertical-align:middle;color:cornflowerblue;font-weight:bold;">价格变动</td>
							</tr>
							<tbody id = "autoPartsTable">
							<!-- 后台数据-->
							</tbody>
						</table>
						<div class="pagination clearfix style2" >
							<div class="nav-link" id="editable_paginate">
								<!--<a href="#" class="page-numbers"><i class="icon fa fa-angle-left" aria-hidden="true"></i></a>
								<a href="#" class="page-numbers">1</a>
								<a href="#" class="page-numbers">2</a>
								<a href="#" class="page-numbers current">3</a>
								<a href="#" class="page-numbers"><i class="icon fa fa-angle-right" aria-hidden="true"></i></a>-->
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="wrapper-sidebar shop-sidebar">
						<div class="widget woof_Widget">
							<div class="widget widget-categories">
								<h3 class="widgettitle">Categories</h3>
								<ul class="list-categories">
									<li>
										<input type="checkbox" id="cb1">
										<label for="cb1" class="label-text">
											New Arrivals
										</label>
									</li>
									<li>
										<input type="checkbox" id="cb2">
										<label for="cb2" class="label-text">
											Grooming
										</label>
									</li>
									<li>
										<input type="checkbox" id="cb3">
										<label for="cb3" class="label-text">
											Beard Oil
										</label>
									</li>
									<li>
										<input type="checkbox" id="cb4">
										<label for="cb4" class="label-text">
											Clothing
										</label>
									</li>
									<li>
										<input type="checkbox" id="cb5">
										<label for="cb5" class="label-text">
											Accessories
										</label>
									</li>
									<li>
										<input type="checkbox" id="cb6">
										<label for="cb6" class="label-text">
											Backpack
										</label>
									</li>
								</ul>
							</div>
							<div class="widget widget_filter_price">
								<h4 class="widgettitle">
									Price
								</h4>
								<div class="price-slider-wrapper">
		                    		<div data-label-reasult="Range:" data-min="0" data-max="3000" data-unit="$" class="slider-range-price " data-value-min="0" data-value-max="1000">	
		                    		</div>
		                    		<div class="price-slider-amount">
			                            <span class="from">$45</span>
			                            <span class="to">$215</span>
			                        </div>
								</div>
							</div>
							<div class="widget widget-brand">
								<h3 class="widgettitle">Brand</h3>
								<ul class="list-brand">
									<li>
										<input id="cb7" type="checkbox">
										<label for="cb7" class="label-text">New Arrivals</label>
									</li>
									<li>
										<input id="cb8" type="checkbox">
										<label for="cb8" class="label-text">Grooming</label>
									</li>
									<li>
										<input id="cb9" type="checkbox">
										<label for="cb9" class="label-text">Beard Oil</label>
									</li>
									<li>
										<input id="cb10" type="checkbox">
										<label for="cb10" class="label-text">Clothing</label>
									</li>
									<li>
										<input id="cb11" type="checkbox">
										<label for="cb11" class="label-text">Accessories</label>
									</li>
									<li>
										<input id="cb12" type="checkbox">
										<label for="cb12" class="label-text">Backpack</label>
									</li>
								</ul>
							</div>
							<div class="widget widget_filter_size">
								<h4 class="widgettitle">Size</h4>
								<ul class="list-size">
									<li>
										<a href="#">xs</a>
									</li>
									<li>
										<a href="#">s</a>
									</li>
									<li class="active">
										<a href="#">m</a>
									</li>
									<li>
										<a href="#">l</a>
									</li>
									<li>
										<a href="#">xl</a>
									</li>
									<li>
										<a href="#">xxl</a>
									</li>
								</ul>
							</div>
							<div class="widget widget-color">
								<h4 class="widgettitle">
									Color
								</h4>
								<div class="list-color">
									<a href="#" class="color1"></a>
									<a href="#" class="color2 "></a>
									<a href="#" class="color3 active"></a>
									<a href="#" class="color4"></a>
									<a href="#" class="color5"></a>
									<a href="#" class="color6"></a>
									<a href="#" class="color7"></a>
								</div>
							</div>
							<div class="widget widget-tags">
								<h3 class="widgettitle">
									Popular Tags
								</h3>
								<ul class="tagcloud">
									<li class="tag-cloud-link">
										<a href="#">Fashion</a>
									</li>
									<li class="tag-cloud-link">
										<a href="#">Clothing</a>
									</li>
									<li class="tag-cloud-link">
										<a href="#">Backpack</a>
									</li>
									<li class="tag-cloud-link active">
										<a href="#">Accessories</a>
									</li>
									<li class="tag-cloud-link">
										<a href="#">Hot</a>
									</li>
									<li class="tag-cloud-link">
										<a href="#">Backpack</a>
									</li>
									<li class="tag-cloud-link">
										<a href="#">Grooming</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="widget newsletter-widget">
							<div class="newsletter-form-wrap ">
								<h3 class="title">Subscribe to Our Newsletter</h3>
								<div class="subtitle">
									More special Deals, Events & Promotions
								</div>
								<input type="email" class="email" placeholder="Your email letter">
								<button type="submit" class="button submit-newsletter">Subscribe</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer style7">
		<div class="container">
			<div class="container-wapper">
				<div class="row">
					<p align="center">
						© 2020 北京华锦齐得利商贸有限责任公司  ｜
						<a href="https://beian.miit.gov.cn/" target="_blank">京ICP备20029352号</a>
					</p>
					<p align="center">
						邮箱：anguodong000@163.com | 客服QQ：1932604926 592912807
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!--<a href="#" class="backtotop">
		<i class="fa fa-angle-double-up"></i>
	</a>-->
	<script src="../js/jquery-1.12.4.min.js"></script>
	<script src="../js/jquery.plugin-countdown.min.js"></script>
	<script src="../js/jquery-countdown.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/owl.carousel.min.js"></script>
	<script src="../js/magnific-popup.min.js"></script>
	<script src="../js/isotope.min.js"></script>
	<script src="../js/jquery.scrollbar.min.js"></script>
	<script src="../js/jquery-ui.min.js"></script>
	<script src="../js/mobile-menu.js"></script>
	<script src="../js/chosen.min.js"></script>
	<script src="../js/slick.js"></script>
	<script src="../js/jquery.elevateZoom.min.js"></script>
	<script src="../js/jquery.actual.min.js"></script>
	<script src="../js/fancybox/source/jquery.fancybox.js"></script>
	<script src="../js/lightbox.min.js"></script>
	<script src="../js/owl.thumbs.min.js"></script>
	<script src="../js/jquery.scrollbar.min.js"></script>
	<script src="../js/frontend-plugin.js"></script>
	<!--弹出框-->
	<script src="../public/jquery-1.11.3.js"></script>
	<script src="../public/bootstrap.min.js" type="text/javascript"></script>
	<script src="../js/plugins/lhgdialog/lhgdialog.js"></script>
	<!-- 弹出警示框 -->
	<script src="../js/plugins/toastr/toastr.min.js"></script>
	<!-- 弹出确认框 -->
	<script src="../public/artDialog4.1.7/artDialog.js?skin=blue"></script>
	<script src="../public/artDialog4.1.7/plugins/iframeTools.js"></script>
	<script src="../js/templet_form.js"></script>
	<script>
		$(function() {
			queryAuthority();
			autoPartList(1);
		});

		function autoPartList(currentPage){
			var queryString = $("#queryString").val();
			var param = {currentPage:currentPage,queryString:queryString};
			console.log(JSON.stringify(param));
			$.ajax({
				type:"POST",
				data:JSON.stringify(param),
				url:"/autoPartsInfo/list",
				contentType:"application/json",
				dataType:"json",
				success:function(data){
					$("#autoPartsTable").empty();
					$("#totalPageUl").empty();
					//总数
					var total = data.data.total;
					//总页数
					var totalPageNums = Math.ceil(total/20);
					//两侧显示的页码数 大于1
					var edges = 2;
					//主页码区显示的页码数 大于3
					var playes = 5;
					if(total==0){
						$('#editable_paginate').empty();
					}else{
						renderPageItem(totalPageNums,playes,edges,currentPage);
					}

					$.each(data.data.autoPartsList, function(i,item){
						$tr = $('<tr></tr>');
						$td1 = $('<td style="text-align:center;vertical-align:middle;color:black;">'+item.productNumber+'</td>');
						$td2 = $('<td style="text-align:center;vertical-align:middle;color:black;">'+item.productName+'</td>');
						$td3 = $('<td style="text-align:center;vertical-align:middle;color:black;">'+item.vehicleModel+'</td>');
						$td4 = $('<td id="retailPricetd'+item.id+'" style="text-align:center;vertical-align:middle;"><a id="priceStr'+item.id+'" style="color:red;" href="javascript:queryPrice('+item.id+','+item.retailPrice+')">查看价格</a></td>');
						$td5 = $('<td style="text-align:center;vertical-align:middle;color:black;">'+item.priceChange+'</td>');
						$td5Null = $('<td style="text-align:center;vertical-align:middle;color:black;"></td>');

						$tr.append($td1);
						$tr.append($td2);
						$tr.append($td3);
						$tr.append($td4);
						if(item.priceChange==undefined){
							$tr.append($td5Null);
						}else{
							$tr.append($td5);
						}
						$('#autoPartsTable').append($tr);
					});
				}
			});
		}

		function renderPageItem(totalPageNums,playes,edges,currentPage) {
			//debugger;
			$ul = $('<ul class="pagination pull-right" style="margin:0px 5px 5px 5px;">');
			var start = 1;
			var end = totalPageNums;
			if(playes % 2){
				//playes是奇数
				start = currentPage - Math.floor(playes / 2);
				end = currentPage + Math.floor(playes / 2);
			}else{
				//playes是偶数
				start = currentPage - (playes / 2 - 1);
				end = currentPage + playes / 2;
			}
			if (start <= edges + 1) {
				start = 1;
				if (end < playes && playes<totalPageNums) {
					end = playes;
				}
			}else{
				for (var i = 1; i <= edges; i++) {
					$ul.append(renderItem(i,currentPage));
				}
				$ul.append('<span>...</span>');
			}
			if (end < totalPageNums - edges) {
				for (var i = start; i <= end; i++) {
					$ul.append(renderItem(i,currentPage));
				}
				$ul.append('<span>...</span>');
				for (var i = totalPageNums - edges + 1; i <= totalPageNums; i++) {
					$ul.append(renderItem(i,currentPage));
				}
			}else{
				end = totalPageNums;
				/*if(start>totalPageNums-playes+1){
                    start = totalPageNums-playes+1
                }*/
				for (var i = start; i <= end; i++) {
					$ul.append(renderItem(i));
				}
			}
			$ul.prepend(renderPrevItem(currentPage));
			$ul.append(renderNextItem(currentPage,totalPageNums));
			$('#editable_paginate').empty().append($ul);
		}

		function renderItem(i,currentPage) {
			//debugger;
			$item = $('<a href="javascript:autoPartList('+i+')">'+i+'</a>');
			if (i == currentPage) {
				$item.addClass('page-numbers current');
			}else{
				$item.addClass('page-numbers');
			}
			$item.on('click', (function (num) {
				return function () {
					currentPage = num;
					renderPageItem(currentPage);
				}
			})(i));
			return $item;
		}

		function renderPrevItem(currentPage) {
			//debugger;
			$prev = $('<a href="javascript:autoPartList('+currentPage+')" class="page-numbers"><i class="icon fa fa-angle-left" aria-hidden="true"></i>');
			if (currentPage == 1) {
				$prev.addClass('disabled');
			} else {
				$prev.on('click', function () {
					currentPage = currentPage - 1;
					renderPageItem(currentPage);
				})
			}
			return $prev;
		}

		function renderNextItem(currentPage,totalPageNums) {
			//debugger;
			$next = $('<a href="javascript:autoPartList('+currentPage+')" class="page-numbers"><i class="icon fa fa-angle-right" aria-hidden="true"></i></a>');
			if (currentPage == totalPageNums) {
				$next.addClass('disabled');
			} else {
				$next.on('click', function () {
					currentPage = currentPage + 1;
					renderPageItem(currentPage);
				})
			}
			return $next;
		}

		$("#searchButton").click(function () {
			$('#editable_paginate').empty();
			autoPartList(1);
		})

		$("#queryString").keypress(function (e) {
			if (e.which == 13) {
				autoPartList(1);
				return false;
			}
		});

		function queryPrice(partsId,price){
			var param = {partsId:partsId,price:price};
			$.ajax({
				type:"POST",
				data:JSON.stringify(param),
				url:"/carParts/createPartsNeed",
				contentType:"application/json",
				dataType:"json",
				success:function(data){
					console.log(data);
					if(data.code==401){
						alert(data.message);
					}
					if(data.code==200){
						$('#retailPricetd'+partsId).append(price);
						$('#priceStr'+partsId).empty();
					}
				},
				error:function(e){
					window.location.href="/login-view";
					console.log(e);
				}

			});
		}

		//查询是否具有用户审核权限
		function queryAuthority(){
			$.ajax({
				type:"POST",
				data:"",
				url:"/authority/isHaveAuthorityPage",
				contentType:"application/json",
				dataType:"json",
				success:function(data){
					console.log("data:"+data);
					var code = data.code;
					if(code==200){
						$li = $('<a href="/userListPage" class="emeriss-menu-item-title" title="About">用户审核</a>');
						$('#user_authority_menu').append($li);

						$button = $('<button id="updatePartsButton" onclick="updateParts()" type="submit" class="button submit-newsletter">价格更新</button>&nbsp;&nbsp;');
						$span = $('<span style="width: 100px;text-align:left;display:inline-block;" id="SpanUpdating"></span>');
						$('#menu-top').append($button);
						$('#menu-top').append($span);
					}
				}
			});
		}

		function updateParts() {
			$.dialog({
				title: '配件更新',
				width: 600,
				height: 280,
				lock:true,
				content: 'url:/autoPartsInfo/importPartsHtml',
				init: function() {
					//var ul = iframe.document.getElementById('right_list');
					var iframe = this.iframe.contentWindow;
				},
				button: [{
					name: '保存',
					callback: function() {
						$("#SpanUpdating").append('更新中...');
						//$("#menu-top").append('<span id="SpanUpdating">更新中</span>');
						var fd = new FormData();
						var iframe = this.iframe.contentWindow;
						console.log(iframe);
						//console.log(iframe.$("#password").val());
						fd.append("file", iframe.$("#file").get(0).files[0]);//上传的文件file
						$.ajax({
							url:"/autoPartsInfo/updateParts",
							type:"post",
							data:fd,
							cache: false,
							processData: false,
							contentType: false,
							success:function(data){
								//carHingesList(1);
								console.log(data);
								var code = data.code;
								if(code==200){
									alert("更新成功");
									$("#SpanUpdating").empty();
									//debugger;
									//$("#SpanUpdating").remove();
									//$("#SpanUpdating").append('更新成功');
									//$("#menu-top").append('<span id="SpanUpdatingSuccess">更新成功</span>');
									//setTimeout("$('#SpanUpdatingSuccess').empty()",5000);
								}else{
									alert(data.message);
									$("#SpanUpdating").empty();
								}
							},
							error:function(e){
								alert("网络错误，请重试！！");
							}
						});
					},
					focus: true
				}, {
					name: '取消',
					callback: function() {
					}
				}]
			});
		}

		//删除配件
		$("#deletePartsButton").click(function () {
			$.ajax({
				type:"POST",
				url:"/autoPartsInfo/deleteParts",
				contentType:"application/json",
				dataType:"json",
				success:function(data){
					console.log("data:"+data);
					var code = data.code;
					if(code==200){
						alert("删除成功")
					}
				}
			});
		})

		/*<a href="javascript:autoPartList('+currentPage+')" class="page-numbers"><i class="icon fa fa-angle-left" aria-hidden="true"></i></a>
		<a href="#" class="page-numbers">1</a>
				<a href="#" class="page-numbers">2</a>
				<a href="#" class="page-numbers current">3</a>
				<a href="#" class="page-numbers"><i class="icon fa fa-angle-right" aria-hidden="true"></i></a>
		<li class="paginate_button previous" ><a href="javascript:autoPartList('+i+')">'+i+'</a></li>*/
	</script>
</body>
</html>