<!DOCTYPE html>
<html lang="en">
<head>
	<title>配齐网</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="../images/timg.ico"/>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/owl.carousel.min.css">
	<link rel="stylesheet" href="../css/animate.min.css">
	<link rel="stylesheet" href="../css/jquery-ui.css">
	<link rel="stylesheet" href="../css/slick.css">
	<link rel="stylesheet" href="../css/chosen.min.css">
	<link rel="stylesheet" href="../css/pe-icon-7-stroke.css">
	<link rel="stylesheet" href="../css/magnific-popup.min.css">
	<link rel="stylesheet" href="../css/lightbox.min.css">
	<link rel="stylesheet" href="../js/fancybox/source/jquery.fancybox.css">
	<link rel="stylesheet" href="../css/jquery.scrollbar.min.css">
	<link rel="stylesheet" href="../css/mobile-menu.css">
	<link rel="stylesheet" href="../fonts/flaticon/flaticon.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="inblog-page">
	<header class="header style7">
		<div class="container">
			<div class="main-header">
				<div class="row">
					<div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
						<!--<div class="logo">
							<a href="index.html">
								<img src="../images/logo.png" alt="img">
							</a>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="main-content main-content-login">
		<div class="container">
			<div class="row">
				<div class="content-area col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div align="center" >
						<h3 class="custom_blog_title">
							欢迎使用配齐网
						</h3>
						<div style="width:500px;height:700px;text-align:left;" class="customer_login">
							<div class="row">
								<div >
									<div class="login-item">
										<h5 class="title-login">用户登录</h5>
										<form action="login" method="post" class="login">
											<p class="form-row form-row-wide">
												<label class="text">手机号</label>
												<input title="请输入注册手机号" name="username" type="text">
											</p>
											<!--<p class="form-row form-row-wide">
												<label class="text">注册手机号</label>
												<input title="请输入注册手机号" name="telephone" type="text">
											</p>-->
											<p class="form-row form-row-wide">
												<label class="text">密码</label>
												<input title="请输入密码" name="password" type="password">
											</p>
											<p class="lost_password">
												<a href="#" data-toggle="modal" data-target="#myModal2">忘记密码?</a>
												<a href="javascript:void(0)">|</a>
												<a href="/register-view">注册</a>
											</p>
											<p style="text-align:center;" class="form-row">
												<input type="submit" class="button-submit" value="登录">
											</p>
										</form>
									</div>

									<div class="modal fade" id="myModal2" role="dialog">
										<div class="modal-dialog">
											<!-- Modal content-->
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">&times;</button>
														<h3 class="w3ls-password">密码找回</h3>
														<p class="get-pw">在下面输入您的电子邮件地址，我们将向您发送一封包含说明的电子邮件</p>
														<input id="email" type="text" style="background-color: white;width: 350px;" placeholder="请输入注册邮箱"/>
														<button id="searchButton" type="button" class="button submit-newsletter">提交</button>&nbsp;&nbsp;
														<!--<input type="text" class="user" name="email" placeholder="请输入邮箱" required="">
														<button id="searchButton" type="button" class="button submit-newsletter">提交</button>&nbsp;&nbsp;-->
														<!--<input style="text-align: center;" type="submit" value="提交">-->
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
								<!--<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="login-item">
										<h5 class="title-login">Register now</h5>
										<form class="register">
											<p class="form-row form-row-wide">
												<label class="text">Your email</label>
												<input title="email" type="email" class="input-text">
											</p>
											<p class="form-row form-row-wide">
												<label class="text">Username</label>
												<input title="name" type="text" class="input-text">
											</p>
											<p class="form-row form-row-wide">
												<label class="text">Password</label>
												<input title="pass" type="password" class="input-text">
											</p>
											<p class="form-row">
												<span class="inline">
													<input type="checkbox" id="cb2">
													<label for="cb2" class="label-text">I agree to <span>Terms & Conditions</span></label>
												</span>
											</p>
											<p class="">
												<input type="submit" class="button-submit" value="Register Now">
											</p>
										</form>
									</div>
								</div>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-device-mobile">
		<div class="wapper">
			<div class="footer-device-mobile-item device-home">
				<a href="index.html">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
					Home
				</a>
			</div>
			<div class="footer-device-mobile-item device-home device-wishlist">
				<a href="#">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
					Wishlist
				</a>
			</div>
			<div class="footer-device-mobile-item device-home device-cart">
				<a href="#">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
					<span class="text">Cart</span>
				</a>
			</div>
			<div class="footer-device-mobile-item device-home device-user">
				<a href="#">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
					Account
				</a>
			</div>
		</div>
	</div>
	<footer class="footer style7">
		<div class="container">
			<div class="container-wapper">
				<div class="row">
					<p align="center">
						© 2020 北京华锦齐得利商贸有限责任公司  ｜
						<a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备20029352号</a>
					</p>
					<p align="center">
						邮箱：anguodong000@163.com | 客服QQ：1932604926 592912807
					</p>
				</div>
			</div>
		</div>
	</footer>
	<a href="#" class="backtotop">
		<i class="fa fa-angle-double-up"></i>
	</a>
	<script src="../js/jquery-1.12.4.min.js"></script>
	<script src="../js/jquery.plugin-countdown.min.js"></script>
	<script src="../js/jquery-countdown.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/owl.carousel.min.js"></script>
	<script src="../js/magnific-popup.min.js"></script>
	<script src="../js/isotope.min.js"></script>
	<script src="../js/jquery.scrollbar.min.js"></script>
	<script src="../js/jquery-ui.min.js"></script>
	<script src="../js/mobile-menu.js"></script>
	<script src="../js/chosen.min.js"></script>
	<script src="../js/slick.js"></script>
	<script src="../js/jquery.elevateZoom.min.js"></script>
	<script src="../js/jquery.actual.min.js"></script>
	<script src="../js/fancybox/source/jquery.fancybox.js"></script>
	<script src="../js/lightbox.min.js"></script>
	<script src="../js/owl.thumbs.min.js"></script>
	<script src="../js/jquery.scrollbar.min.js"></script>
	<script src="../js/frontend-plugin.js"></script>
	<script>
		$("#searchButton").click(function () {
			var email = $("#email").val();
			var param = {email:email};
			$.ajax({
				type:"POST",
				data:JSON.stringify(param),
				url:"/user/forgetPassword",
				contentType:"application/json",
				dataType:"json",
				success:function(data){
					console.log(data);
					if(data.code==200){
						alert("邮件发送成功")
					}else{
						alert("邮件发送失败，请重新申请")
					}
				},
				error:function(e){
					alert("邮件发送异常，请重新申请！")
				}
			});
		})
	</script>
</body>
</html>