<!DOCTYPE html>
<html lang="en">
<head>
	<title>配齐网</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="../images/timg.ico"/>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/owl.carousel.min.css">
	<link rel="stylesheet" href="../css/animate.min.css">
	<link rel="stylesheet" href="../css/jquery-ui.css">
	<link rel="stylesheet" href="../css/slick.css">
	<link rel="stylesheet" href="../css/chosen.min.css">
	<link rel="stylesheet" href="../css/pe-icon-7-stroke.css">
	<link rel="stylesheet" href="../css/magnific-popup.min.css">
	<link rel="stylesheet" href="../css/lightbox.min.css">
	<link rel="stylesheet" href="../js/fancybox/source/jquery.fancybox.css">
	<link rel="stylesheet" href="../css/jquery.scrollbar.min.css">
	<link rel="stylesheet" href="../css/mobile-menu.css">
	<link rel="stylesheet" href="../fonts/flaticon/flaticon.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="inblog-page">
	<header class="header style7">
		<div class="container">
			<div class="main-header">
				<div class="row">
					<div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
						<!--<div class="logo">
							<a href="index.html">
								<img src="../images/logo.png" alt="img">
							</a>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="main-content main-content-login">
		<div class="container">
			<div class="row">
				<div class="content-area col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div align="center" >
						<h3 class="custom_blog_title">
							欢迎使用配齐网
						</h3>
						<div style="width:500px;height:700px;text-align:left;" class="customer_login">
							<div class="row">
								<div >
									<div class="login-item">
										<h5 class="title-login">用户注册</h5>
										<form class="login">
										<!--<form id="register" action="/carWeb/register" method="post" class="login" onsubmit='return checkForm()'>-->
											<p class="form-row form-row-wide">
												<!--<label class="text">手机号</label>-->
												<input title="请输入手机号" name="telephone" type="text" id="telephone" autocomplete = "off" placeholder="请输入手机号码(必填)">
											</p>
											<p class="form-row form-row-wide">
												<!--<label class="text">密码</label>-->
												<input title="请输入密码"  name="password" type="password" id="password" autocomplete = "off" placeholder="请输入密码(必填)" readonly="readonly">
											</p>
											<p class="form-row form-row-wide">
												<!--<label class="text">用户名</label>-->
												<input title="请输入用户名" name="username" type="text" id="username" autocomplete = "off" placeholder="请输入用户名(必填)" readonly="readonly">
											</p>
											<p class="form-row form-row-wide">
												<!--<label class="text">用户名</label>-->
												<input title="请输入公司名称" name="company" type="text" id="company" autocomplete = "off" placeholder="请输入公司名称">
											</p>
											<p class="form-row form-row-wide">
												<!--<label class="text">用户名</label>-->
												<input title="请输入公司地址" name="companyAddress" type="text" id="companyAddress" autocomplete = "off" placeholder="请输入公司地址">
											</p>
											<p class="form-row form-row-wide">
												<!--<label class="text">用户名</label>-->
												<input title="请输入邮箱" name="email" type="text" id="email" autocomplete = "off" placeholder="请输入邮箱">
											</p>

											<p style="text-align:center;" class="form-row">
												<!--<input type="submit" class="button-submit" value="注册">-->
												<a href="javascript:registerSubmit()" class="button btn-browse">注册</a>
												<a href="/login-view" class="button btn-browse">返回</a>
											</p>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-device-mobile">
		<div class="wapper">
			<div class="footer-device-mobile-item device-home">
				<a href="index.html">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
					Home
				</a>
			</div>
			<div class="footer-device-mobile-item device-home device-wishlist">
				<a href="#">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
					Wishlist
				</a>
			</div>
			<div class="footer-device-mobile-item device-home device-cart">
				<a href="#">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
					<span class="text">Cart</span>
				</a>
			</div>
			<div class="footer-device-mobile-item device-home device-user">
				<a href="#">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
					Account
				</a>
			</div>
		</div>
	</div>
	<footer class="footer style7">
		<div class="container">
			<div class="container-wapper">
				<div class="row">
					<p align="center">
						© 2020 北京华锦齐得利商贸有限责任公司  ｜
						<a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备20029352号</a>
					</p>
					<p align="center">
						邮箱：anguodong000@163.com | 客服QQ：1932604926 592912807
					</p>
				</div>
			</div>
		</div>
	</footer>
	<a href="#" class="backtotop">
		<i class="fa fa-angle-double-up"></i>
	</a>
	<script src="../js/jquery-1.12.4.min.js"></script>
	<script src="../js/jquery.plugin-countdown.min.js"></script>
	<script src="../js/jquery-countdown.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/owl.carousel.min.js"></script>
	<script src="../js/magnific-popup.min.js"></script>
	<script src="../js/isotope.min.js"></script>
	<script src="../js/jquery.scrollbar.min.js"></script>
	<script src="../js/jquery-ui.min.js"></script>
	<script src="../js/mobile-menu.js"></script>
	<script src="../js/chosen.min.js"></script>
	<script src="../js/slick.js"></script>
	<script src="../js/jquery.elevateZoom.min.js"></script>
	<script src="../js/jquery.actual.min.js"></script>
	<script src="../js/fancybox/source/jquery.fancybox.js"></script>
	<script src="../js/lightbox.min.js"></script>
	<script src="../js/owl.thumbs.min.js"></script>
	<script src="../js/jquery.scrollbar.min.js"></script>
	<script src="../js/frontend-plugin.js"></script>
	<script>
		setTimeout(function removeReadonly(){
			var username=document.getElementById("username");
			var password=document.getElementById("password");
			username.removeAttribute("readonly");
			password.removeAttribute("readonly");
		},1000);

		function registerSubmit(){
			var flag = true;
			var username = $.trim($("#username").val());
			var password = $("#password").val();
			var telephone = $.trim($("#telephone").val());
			var company = $("#company").val();
			var companyAddress = $("#companyAddress").val();
			var email = $("#email").val();
			var param = {username:username,password:password,telephone:telephone,company:company,companyAddress:companyAddress,email:email};
			if(telephone ==  null || telephone == ''){
				alert("手机号不能为空");
				flag = false;
			}
			var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
			if(!myreg.test(telephone)){
				alert("手机号码有误，请重填");
				return false;
			}
			if(username ==  null || username == ''){
				alert("用户名不能为空");
				flag = false;
			}
			if(password ==  null || password == ''){
				alert("密码不能为空");
				flag = false;
			}
			if(company ==  null || company == ''){
				alert("公司名称不能为空");
				flag = false;
			}
			if(companyAddress ==  null || companyAddress == ''){
				alert("公司地址不能为空");
				flag = false;
			}
			if(email ==  null || email == ''){
				alert("邮箱不能为空");
				flag = false;
			}
			if(flag){
				$.ajax({
					type:"POST",
					data:JSON.stringify(param),
					url:"/carWeb/register",
					contentType:"application/json",
					dataType:"json",
					success:function(data){
						console.log(data);
						if(data.code==200){
							window.location.href="/index";
						}
						if(data.code==201){
							alert("手机号已存在，请重新输入！")
						}
						if(data.code==202){
							alert("用户名创建失败！")
						}
					},
					error:function(e){
						alert("创建用户失败！")
					}
				});
			}
		}
	</script>
</body>
</html>