<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reptile.carwebreptileyqy.mapper.ReptileMapper">

    <select id="getGrNoAndPncNo1" resultType="com.reptile.carwebreptileyqy.entity.CarWebEntity">
        <bind name="key_offset" value="(1-1)*1000"></bind>
        SELECT exception_pnc as exceptionPnc  FROM error_record limit #{key_offset},1000
    </select>

    <select id="getGrNoAndPncNo2" resultType="com.reptile.carwebreptileyqy.entity.CarWebEntity">
        <bind name="key_offset" value="(2-1)*1000"></bind>
        SELECT exception_pnc as exceptionPnc  FROM error_record limit #{key_offset},1000
    </select>
    <select id="getGrNoAndPncNo3" resultType="com.reptile.carwebreptileyqy.entity.CarWebEntity">
        <bind name="key_offset" value="(3-1)*1000"></bind>
        SELECT exception_pnc as exceptionPnc  FROM error_record limit #{key_offset},1000
    </select>
    <select id="getGrNoAndPncNo4" resultType="com.reptile.carwebreptileyqy.entity.CarWebEntity">
        <bind name="key_offset" value="(4-1)*1000"></bind>
        SELECT exception_pnc as exceptionPnc  FROM error_record limit #{key_offset},1000
    </select>
    <select id="getGrNoAndPncNo5" resultType="com.reptile.carwebreptileyqy.entity.CarWebEntity">
        <bind name="key_offset" value="(5-1)*1000"></bind>
        SELECT exception_pnc as exceptionPnc  FROM error_record limit #{key_offset},1000
    </select>
    <select id="getGrNoAndPncNo6" resultType="com.reptile.carwebreptileyqy.entity.CarWebEntity">
        <bind name="key_offset" value="(6-1)*1000"></bind>
        SELECT exception_pnc as exceptionPnc  FROM error_record limit #{key_offset},1000
    </select>
    <select id="getGrNoAndPncNo7" resultType="com.reptile.carwebreptileyqy.entity.CarWebEntity">
        <bind name="key_offset" value="(7-1)*1000"></bind>
        SELECT exception_pnc as exceptionPnc  FROM error_record limit #{key_offset},1000
    </select>
    <select id="getGrNoAndPncNo8" resultType="com.reptile.carwebreptileyqy.entity.CarWebEntity">
        <bind name="key_offset" value="(8-1)*1000"></bind>
        SELECT exception_pnc as exceptionPnc  FROM error_record limit #{key_offset},1000
    </select>
    <select id="getGrNoAndPncNo9" resultType="com.reptile.carwebreptileyqy.entity.CarWebEntity">
        <bind name="key_offset" value="(9-1)*1000"></bind>
        SELECT exception_pnc as exceptionPnc  FROM error_record limit #{key_offset},1000
    </select>

    <select id="getGrNoAndPncNo" resultType="com.reptile.carwebreptileyqy.entity.CarWebEntity">
        SELECT DISTINCT SUBSTRING(part_no,2,10) AS partNo FROM car_web
    </select>

    <select id="getGraspRecordList1" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(1-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName FROM grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList2" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(2-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName FROM grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList3" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(3-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName FROM grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList4" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(4-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList5" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(5-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList6" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(6-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList7" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(7-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList8" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(8-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList9" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(9-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList10" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(10-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList11" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(11-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList12" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(12-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList13" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(13-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList14" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(14-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList15" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(15-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList16" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(16-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList17" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(17-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList18" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(18-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList19" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(19-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList20" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(20-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList21" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(21-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList22" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(22-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList23" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(23-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList24" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(24-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList25" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(25-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList26" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(26-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList27" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(27-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList28" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(28-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList29" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(29-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList30" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(30-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList31" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(31-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList32" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(32-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList33" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(33-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList34" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(34-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList35" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(35-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList36" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(36-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList37" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(37-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList38" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(38-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

    <select id="getGraspRecordList39" resultType="com.reptile.carwebreptileyqy.entity.GraspRecordEntity">
        <bind name="key_offset" value="(39-1)*60000"></bind>
        SELECT * FROM (SELECT part_no AS partNo,group_no as groupNo,pnc,start_time as startTime,end_time as endTime,instruction,part_name as partName from grasp_record
        GROUP BY part_no,group_no,pnc,start_time,end_time,instruction,part_name) AS a LIMIT #{key_offset},60000
    </select>

</mapper>
